@model WebProject.Models.Model.About
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="container">
    <div class="centered">
        <div class="col-md-12">
            <h4 >Do yo want to learn About Us</h4>
            <img src="~/Content/SiteLayout/img/myimage/euchartretanvendelseuniavis.png" alt="" class="align-center img-box img-responsive" />
            <p>
                @Html.Raw(Model.Description)
            </p>

        </div>
    </div>

</div>
