@model IEnumerable<WebProject.Models.Model.Category>
<ul class="cat">
    @foreach (var item in Model)
    {
        <li><i class="icon-angle-right"></i><a href="/Home/Blog/@item.CategoryId">@item.CategoryName</a><span> (@item.Blogs.Count())</span></li>

    }

</ul>
