<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Deneme Web Sitesi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <!-- css -->
    <link href="/Content/SiteLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/css/jcarousel.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/style.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="/Content/SiteLayout/skins/default.css" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: Moderna
    Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Home/Index/"><span>M</span>urat</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Home/Index/">Home</a></li>
                            <li><a href="/Home/About/">AboutUs</a></li>
                            <li><a href="/Home/Blog/">Blog</a></li>
                            <li><a href="/Home/Service/">Service</a></li>
                            <li><a href="/Home/Contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        @RenderBody()

        @{ 
            Html.RenderAction("FooterPartial", "Home");
        }



    </div>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Content/SiteLayout/js/jquery.js"></script>
    <script src="/Content/SiteLayout/js/jquery.easing.1.3.js"></script>
    <script src="/Content/SiteLayout/js/bootstrap.min.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox.pack.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox-media.js"></script>
    <script src="/Content/SiteLayout/js/google-code-prettify/prettify.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/jquery.quicksand.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/setting.js"></script>
    <script src="/Content/SiteLayout/js/jquery.flexslider.js"></script>
    <script src="/Content/SiteLayout/js/animate.js"></script>
    <script src="/Content/SiteLayout/js/custom.js"></script>


    @*<script src="~/Scripts/jquery-3.5.1.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>