@model WebProject.Models.Model.Service
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service Edit</h2>


<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Service/Edit/@Model.ServiceId" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Title <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Title" name="Title" minlength="5" type="text" required value="@Model.Title" />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Description<span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea name="Description" class="ckeditor" @*rows=11 cols=50 maxlength=250*@ required>@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Önceki Resim</label>
            <div class="col-lg-10">
               <img src="@Model.ImageURL" width="200" height="100"/>
            </div>
        </div>

        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim</label>
            <div class="col-lg-10">
                <input  type="file" class="form-control" name="ImageURL" accept=".jpg, .png, .jpeg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-default" type="button"><a href="/Service/Index">Cancel</a></button>
            </div>
        </div>
    </form>
</div>